/* Desenvolva seu estilo aqui */
.postPageHeader{
    padding: 30px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postPageTitle{
    padding: 80px 0;
    margin-bottom: 52px;
}

.openPostImgSection{
    margin-bottom: 52px;
}

.openPostDescription{
    margin-bottom: 72px;
}

.filterSection{
    margin-bottom: 87px;
}

