

footer{
    width: 100%;
    height: 255px;

    background-color: var(--color-grey-1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLogo{
    margin-right: 3.375em;

    display: flex;
    align-items: center;
}


.logoParagFooter{
    color: var(--color-grey-7);
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);

}

.footerDesc{
    width: 34.438em;
}

.footerDescParag{
    color: var(--color-grey-3);
    font-size: var(--font-s-4);
    font-weight: var(--font-w-4);
    line-height: var(--line-h-3);
    margin-right: 14.063em;
}

.footerBttnSec{
    border-radius: 32px;
    padding: 0 22px;
    height: 38px;
    background-color: var(--color-grey-2);
    display: flex;
    align-items: center;
}

.footerBttn{
    color: var(--color-grey-7);
}