* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;

}

button, a{
  cursor: pointer;
  border: 0;
}

.appContainer{
  width: 75em;
  margin: 75px auto;
}
.postPageContainer{
  width: 71.25em;
  margin: 0 auto;
}

:root {
  --color-grey-1: #212529;
  --color-grey-2: #495057;
  --color-grey-3: #808387;
  --color-grey-4: #dee2e6;
  --color-grey-5: #e9ecef;
  --color-grey-6: #f1f3f5;
  --color-grey-7: #f8f9fa;
  --color-brand-1: #087f5b;
  --color-brand-2: #099268;

  --font-s-1: 2.5rem; /*40*/
  --font-s-2: 1.75rem; /*28*/
  --font-s-3: 1.25rem; /*20*/
  --font-s-4: 1rem; /*16*/
  --font-s-5: 0.875rem; /*14*/

  --font-w-1: 700;
  --font-w-2: 600;
  --font-w-3: 500;
  --font-w-4: 400;

  --line-h-1: 60px;
  --line-h-2: 30px;
  --line-h-3: 24px;
}
