
h1{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
    color: var(--color-grey-1);

}

.descTitle{
    font-size: var(--font-s-1);
    font-weight: var(--font-w-2);
    line-height: var(--line-h-1);
    color: var(--color-grey-1);

    margin-bottom: 24px;
}

.titleSpan{
    color: var(--color-brand-1);
}

.description{
    font-size: var(--font-s-4);
    font-weight: var(--font-w-4);
    line-height: var(--line-h-3);
    color: var(--color-grey-1);
    
    margin-bottom: 24px;
}

.goToContent{
    color: var(--color-grey-1);
    font-size: var(--font-s-4);
    font-weight: var(--font-w-2);
}

.logoParag{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-1);
}

.openPostTitle{
    font-size: var(--font-s-1);
    font-weight: var(--font-w-2);
    line-height: var(--line-h-1);
    color: var(--color-grey-1);
}

.invite{
    font-size: var(--font-s-4);
    font-weight: var(--font-w-4);
    line-height: var(--line-h-3);
    color: var(--color-grey-2);
}